doctype html
html
  head
    title= title
    meta(name="keywords" content="nativescript-app-sync, nativescript, sync")
    meta(name="description" content="NativeScript AppSync is a hot update service for NativeScript apps")
    link(rel='stylesheet', href='/js/bootstrap-3.3.7/css/bootstrap.min.css')
    block css
  body
    block content

  script(src='/js/jquery-3.1.1.min.js')
  script(src='/js/bootstrap-3.3.7/js/bootstrap.min.js')
  block js