extends ../layout
block css
  link(rel='stylesheet', href='/stylesheets/signin.css')

block content
  .container
    form#form.form-signin(method="post")
      h2.form-signin-heading Please sign in
      label.sr-only(for="inputEmail") Email address/username
      input#inputEmail.form-control(type="text" name="account" placeholder="Email address/username" required autofocus)
      label.sr-only(for="inputPassword") Password
      input#inputPassword.form-control(type="password" name="password" placeholder="Password" required)
      .checkbox
        label
          input(type="checkbox" value="remember-me")
          span Remember me
      a#submitBtn.btn.btn-lg.btn-primary.btn-block Log in

block js
  script().
    var submit = false;
    $('#submitBtn').on('click', function () {
      if (submit) {
        return ;
      }
      submit = true;
      $.ajax({
        type: 'post',
        data: $('#form').serializeArray(),
        url: $('#form').attr('action'),
        dataType: 'json',
        success: function (data) {
          if (data.status == "OK") {
            sessionStorage.setItem('auth', data.results.tokens)
            submit = false;
            location.href = '/tokens/' + location.search;
          } else {
            alert(data.errorMessage);
            submit = false;
          }
        }
      });
    });

