extends ../layout

block content
  .container(style="margin-top:30px;")
    form#form.col-md-5.col-md-offset-3(method="post")
      .form-group
        label.sr-only(for="inputEmail") Email address/username
        input#inputEmail.form-control(type="text" name="account" placeholder="Email address/username" required autofocus)
      .form-group
        .col-md-10(style="margin-left:-15px;")
          label.sr-only(for="inputToken") token
          input#inputToken.form-control(type="text" name="token" placeholder="token" required)
        .col-md-2
          a.form-control.btn.btn-link(style="margin-bottom:15px;" target="_blank" href="/auth/login") Get token
      .form-group
        label.sr-only(for="inputPassword") Old password
        input#inputPassword.form-control(type="password" name="oldPassword" placeholder="Old password" required)
      .form-group
        label.sr-only(for="inputNewPassword") New password
        input#inputNewPassword.form-control(type="password" name="newPassword" placeholder="New password" required)
      .form-group
        a#submitBtn.btn.btn-lg.btn-primary.btn-block Change password

block js
  script().
    var submit = false;
    $('#submitBtn').on('click', function () {
      if (submit) {
        return ;
      }
      var token = $('#inputToken').val();
      var oldPassword = $('#inputPassword').val();
      var newPassword = $('#inputNewPassword').val();
      submit = true;
      $.ajax({
        type: 'patch',
        data: JSON.stringify({oldPassword:oldPassword,newPassword:newPassword}),
        contentType: 'application/json;charset=utf-8',
        headers: {
          Authorization : 'Bearer '+token
        },
        url: '/users/password',
        dataType: 'json',
        success: function (data) {
          if (data.status == "OK") {
            alert("Password changed successfully");
            location.href = '/auth/login';
          } else if (data.status == 401) {
            alert('token invalid');
          } else {
            alert(data.message);
          }
          submit = false;
        }
      });
    });

